<div class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        @if(contact){
        Editar {{ contact.name }}
        }@else {
        Novo Contato
        }
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="mt-3">
      @if (form) {
      @if(errors.length) {
      <div class="alert-danger-custom">
        <p class="fw-bold mb-1">Preencha os dados corretamente!</p>
        <ul>
          @for(error of errors; track error){
          <li>{{ error }}</li>
          }
        </ul>
      </div>
      }

      <form [formGroup]="form" (ngSubmit)="save()">

        <!-- Campo Nome -->
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label>Nome</mat-label>
          <input matInput id="name" type="text" placeholder="Digite o nome" formControlName="name" />
          @if (form.get('name')?.hasError('required')) {
          <mat-error>Nome obrigatório</mat-error>
          }
        </mat-form-field>

        <!-- Campo E-mail -->
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label>E-mail</mat-label>
          <input matInput id="email" type="email" placeholder="exemplo@gmail.com" formControlName="email" />
          @if (form.get('email')?.hasError('required')) {
          <mat-error>E-mail é obrigatório</mat-error>
          }
          @if (form.get('email')?.hasError('pattern')) {
          <mat-error>Informe um e-mail válido (ex: exemplo&#64;gmail.com)</mat-error>
          }
        </mat-form-field>

        <!-- Ações do Formulário -->
        <div class="actions">
          <button mat-stroked-button type="button" routerLink="/">
            <mat-icon>arrow_back</mat-icon>
            Cancelar
          </button>
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
            @if(contact) {
            <mat-icon>save</mat-icon>
            Atualizar
            }@else {
            <mat-icon>add</mat-icon>
            Criar
            }
          </button>
        </div>

      </form>
      }
    </mat-card-content>
  </mat-card>
</div>
